.container-fluid {
    min-height: 99vh; 
    /* width: 100%; */
    background: url('wafa.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-bottom: 30x;
}
.image-header {
    text-align: center;
    margin-top: -70px ;
}
.image-header img{
    height: 100px;
    widows: 100px;
}

.box{
    padding-top: 100px;
}
table td{
    padding: 10px 5px;
}